{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== Bootstrap ========== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- ========== Custom ========== -->

    <link rel="icon" href="{% static 'image/ico/icon-logo.ico' %}" type="image/x-icon">

    <title>{% block title %}UNKNOW - NoteNest{% endblock title %}</title>
</head>
<body>
    {% block content %}{% endblock content %}

    <!-- ========== Toast Bootstrap Default ========== -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
        <div id="live-toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="" class="rounded me-2" id="toast-icon" width="25">
            <strong class="me-auto" id="toast-type">Type</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" id="toast-content">
            Text
          </div>
        </div>
    </div>

    <!-- ========== Bootstrap & JQuery|Ajax|Vue.js ========== -->
    <script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block scripts %}{% endblock scripts %}

    <script>
        var success_icon = "{% static 'image/svg/icon-success.svg' %}";
        var warning_icon = "{% static 'image/svg/icon-success.svg' %}";
        var error_icon = "{% static 'image/svg/icon-error.svg' %}";
    </script>
</body>