{% extends "main_app/base/base_main.html" %}

{% load static %}

{% block title %}Главная страница - NoteNest{% endblock title %}

{% block content %}
{% csrf_token %}

{% verbatim %}

<div id="app_likes_dislikes">
    <ul>
        <li v-for="user in user_list" :key="user.username">
        <div class="row-cols-auto justify-content-center align-items-center g-2">
            <div class="col">
                <strong>Имя пользователя:</strong> {{ user.username }}
            </div>
            <div class="col">
                <strong>Пароль пользователя:</strong> {{ user.password }}
            </div>
            <div class="col">
                <strong>Последний раз был в сети:</strong> {{ user.last_login }}
            </div>
        </div>
        </li>
    </ul>
</div>

{% endverbatim %}


{% endblock content %}

{% block script %}
<script src="{% static 'js/main_fetch.js' %}"></script>
<script src="{% static 'js/main_vue.js' %}"></script>
{% endblock script %}