@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

input::placeholder {
    text-align: center;
} 

/* fade in pages */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* spinner loader */
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2.5px solid rgb(118,79,164);
    position: absolute;
    left: 0;
    top: 0;
    animation: rotation 2s ease-in-out infinite alternate;
  }
  .loader::after {
    border-color: rgb(233,104,40);
    animation-direction: alternate-reverse;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 